//- * @jade name:		views/pneumatic/index.jade
//- * @description:		This jade renders home page.
//- * @related issues:	SM-001
//- * @param:			object req
//- * @author:			Don Hsieh
//- * @since:			10/26/2014
//- * @last modified: 	10/26/2014
//- * @called by:		URL '/'
extends ../layout

block styles
		
block body
	.container
		each row in rows
			.row
				each item in row
					.span4
						a(href='/#{item[1]}')
							h2 #{item[0]}
						img.featurette-image.pull-right(src='/img/#{item[1]}/#{item[2]}', width='#{item[3]}', height='#{item[4]}')
						p: a.btn(href='#') View details »


	//-script(src='/js/jquery-1.10.2.min.js', type='text/javascript') //-shall move to layout.jade?
	script(type='text/javascript').
		'use strict';
		document.getElementById('home').className = '';
		document.getElementById('workbench').className = '';
		document.getElementById('pneumatic').className = '';
		document.getElementById('general').className = '';
		document.getElementById('special').className = '';
		document.getElementById('contact').className = '';
		document.getElementById('pneumatic').className = 'active';